body{
	/* margin: 0;
	padding: 0; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* min-height: 100vh; */
	font-family: 'Jost', sans-serif;
  /* background-color: whitesmoke; */
  /* background: none; */
	/* background: linear-gradient(to bottom, #0f0c29, #e289db, #24243e); */
	/* background: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_517129164_279516.jpg"); */
    
    
    float: left;
}

.dashboard_page{
  background-color: white;
}
.addDetails{
    width: 100%;
    height: 100%;
    display: flex;
    
}

.addDetil{
    padding: 10px;
    width: 450px;
      height: 500px;
      background: rgb(163, 160, 160);
      overflow: hidden;
      background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
      border-radius: 10px;
      border: 1px solid rgb(56, 53, 53);
      /* box-shadow: 5px 20px 50px #000; */
    text-align: center;
  }

  .addDetil1{
    /* margin: 50%; */
    padding: 10px;
    width: 450px;
      height: 250px;
      background: rgb(233, 227, 227);
      overflow: hidden;
      background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
      border-radius: 10px;
      /* border: 1px solid rgb(56, 53, 53); */
      /* box-shadow: 5px 20px 50px #000; */
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
.addDetil1 table{
border: 1px solid rgb(191, 191, 191);
border-radius: 10px;
padding: 10px;
background-color: whitesmoke;
box-shadow: 5px 10px 15px #000;
}
.addDetil1 table tr td{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dashboard{
    width: 100%;
    height: 100%;
}

.dashboard ul{
    padding: 10px;
    width: 200px;
    
}
.dashboard ul li{
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.dashboard ul li a{
  text-decoration: none;
  padding: 10px;
}
.dashboard ul li .nav_buttom{
  position: fixed;
  bottom: 0;
  left: 50px;
  padding: 10px;
}
/* .dashboard li:hover{
  background-color: whitesmoke;
}
.dashboard li a:hover{
  background-color: whitesmoke;
  color: #000;
  width: 200px;
} */
/* student */
.stu_detilas{
    margin: 10px;
    padding: 10px;
    width: 100%;
      height: 100%;
      background: rgb(231, 223, 223);
      overflow: hidden;
      background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
      border-radius: 10px;
      
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
.stu_detilas table{
border: 1px solid rgb(191, 191, 191);
border-radius: 10px;
padding: 5px;
/* box-shadow: 5px 10px 15px #000; */
}
.stu_detilas table tr td{
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.stu_detilas td  button{
  /* width: 50%; */
  padding: 10px;
    height: 30px;
    margin: 5px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
/* Owner */
.owner_det{
    /* margin: 50%; */
    padding: 10px;
    width: 100%;
      height: 100%;
      margin: 10px;
      background: rgb(218, 211, 211);
      overflow: hidden;
      background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
      border-radius: 10px;
      /* border: 1px solid rgb(56, 53, 53); */
      /* box-shadow: 5px 20px 50px #000; */
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
.owner_det table{
border: 1px solid rgb(117, 73, 73);
border-radius: 10px;
padding: 5px;
box-shadow: 5px 10px 15px #000;
}
.owner_det table tr td{
    /* padding: 5px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.owner_det td button{
  
    width: 50%;
    height: 25px;
    margin: 5px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;

}